.nav-index-group-heading {
	color: #6F0101;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	border-bottom: 1px soild #aaa;
	margin-bottom: 5px;
}

.nav-index-section a {
	font-weight: bold;
	font-family: "Open Sans";
	color: black!important;
	margin-top: 10px;
	display: block;
}


